@import '../../../styles/imports';

.status-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  color: white;
  padding: 0.25rem;

  .label {
    text-transform: uppercase;
    color: $golden-color;
  }
}
